# https://github.com/jonashackt/gitlab-ci-stack#configure-gitlab-runner-with-shell-executor
# https://github.com/jonashackt/gitlab-ci-shell-example

stages:
  - readme
  - test
  - publish
  - cleanup

before_script:
  - docker info
  - ls -ahl && ls -ahl *

readme:
  stage: readme
  tags:
    - shell
  script:
    - source .gitlab/.readme_variables
    - echo ""
    - echo ""
    - echo $LOGO_IMAGE_LINK
    - echo $GITHUB_REPONAME
    - echo $GITHUB_USERNAME
    - echo $DOCKERHUB_REPONAME
    - echo $DOCKERHUB_TAG
    - echo $DOCKERHUB_USERNAME
    - echo $DESCRIPTION
    - echo $CREATOR_USERNAME
    - echo $CREATOR_REPONAME
    - echo $EXAMPLE_SITE_LINK
    - echo $EXAMPLE_IMAGE_LINK
    - echo $CONTAINER_PORT
    - echo $CONTAINER_PORT2
    - echo $BASE_IMAGE
    - echo ""
    - echo ""
    - envsubst < .gitlab/readme_template | less
    - mkdir -p /home/gitlab-runner/READMEs/$CI_PROJECT_NAME
    - envsubst < .gitlab/readme_template > /home/gitlab-runner/READMEs/$CI_PROJECT_NAME/README.md
    - echo ""

test_port:
  stage: test
  tags:
    - shell
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build --network host --tag $CI_REGISTRY_IMAGE:arm-port -f Dockerfile.port .
    - docker push $CI_REGISTRY_IMAGE:arm-port

test_proxy:
  stage: test
  tags:
    - shell
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build --network host --tag $CI_REGISTRY_IMAGE:arm-proxy -f Dockerfile.proxy .
    - docker push $CI_REGISTRY_IMAGE:arm-proxy

publish_port:
  stage: publish
  tags:
    - shell
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD $DOCKER_REGISTRY
    - docker build --network host --tag $DOCKER_USER/$DOCKER_REPO:arm-port -f Dockerfile.port .
    - docker push $DOCKER_USER/$DOCKER_REPO:arm-port
    - docker system prune --all --force

publish_proxy:
  stage: publish
  tags:
    - shell
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD $DOCKER_REGISTRY
    - docker build --network host --tag $DOCKER_USER/$DOCKER_REPO:arm-proxy -f Dockerfile.proxy .
    - docker push $DOCKER_USER/$DOCKER_REPO:arm-proxy
    - docker system prune --all --force

cleanup:
  stage: cleanup
  tags:
    - shell
  script:
    - rm -rf * .dockerignore .github .gitignore .gitlab
    - ls -ahl